@media (max-width: 1150px) {
    .header .menu {
        display: none;
    }

    .header .toggle_btn {
        display: block;
        margin-top: 15px;
    }
}

@media (max-width: 720px) {

    .header{
        padding: 2rem;
    }

    .about {
        padding: 0.2rem;
    }

    .container-hero {
        display: flex;
        flex-flow: column wrap;
        gap: 4rem;
        padding: 2rem;
    }

    .container-about {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        gap: 4rem;
        padding: 2rem;
    }

    .choose-lurex {
        padding: 3rem 1rem;
    }

    .cars {
        padding: 3rem 2rem;
    }

    .choose-lurex .container-choose-lurex .item-card {
        padding: 1.5rem;
    }

    .cars .container-cars .items-cars {
        padding: 3rem 1rem;
    }

    .container-hero .text-side,
    .container-hero .img-side img,
    .about .container-about .item-img,
    .about .container-about .item-text {
        width: 100%;
    }
}

@media (max-width: 471px) {
    .cars .container-cars .items-cars .card-cars {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 339px) {

    .container-hero .text-side h3 {
        font-size: 2.4rem;
    }

    .container-hero .text-side h2 {
        font-size: 4.1rem;
    }

    .container-hero .text-side a {
        padding: 12px 25px 18px 25px;
    }
} 